body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: rgba(101, 12, 218, 0.637);
    color: white;
}

.quem-sou{
    background-color:turquoise;
    color: midnightblue;
}

.margin{
    padding-top: 30px;
    padding-bottom: 50px;
}
.tragetoria{
    background-color:powderblue;
    color: black;
}

.contato{
    background-color: crimson;
    color: white;
}
.bg-footer{
    background-color: black;
    color: yellow;